extends layout

block content
  h1= title
  
  form(action="/create", method="post", class="well")
    div(class="form-group")
      div(class="row")
        input(type="text", name="recipename", class="form-control", placeholder="Input recipe name", required)
      br
      div(class="row")
        div(class="col-md-1")
          label(for="Servings")
          |Servings
        div(class="col-md-1")
          input(type="number", name="servings", class="form-control", placeholder="0")
        div(class="col-md-1")
          label(for="ImageUrl")
          | ImageUrl
        div(class="col-md-9")
          input(type="url", name="imageUrl", class="form-control")
      br
      div(class="row")
        div(class="col-md-3")
          label(for="IngrItemsNum")
          |Number of ingredients
        div(class="col-md-1")
          input(type="number", name="IngrItemsNum", class="form-control", placeholder="0")
        div(class="col-md-3")
          label(for="StepsNum")
          | Number of steps 
        div(class="col-md-1")
          input(type="number", name="StepsNum", class="form-control", placeholder="0")

    div
      input(type="submit" class="btn btn-primary", Value="Add details")
      | &nbsp; &nbsp; &nbsp;

  a(href="/", class="btn btn-xl btn-warning") Cancel
        