extends layout

block content
  h1= title
  
  div
    strong(style="font-size: 20px;")
      = recipe.name
    | &nbsp; &nbsp; &nbsp; &nbsp;
    strong(style="font-size: 20px;")
      = "- serving for: " + recipe.servings
    br
    br

  form(action="/create/"+recipe.id+"/"+ingr_number.length+"/"+step_number.length, method="post", class="well")
    div(class="form-group")
      div(class="row")
        label(for="RecipeIngredients")
        strong(style="font-size: 20px;")
        = "Recipe ingredients:"

      ul
      each i in ingr_number
        li
        div(class="row")
          div(class="col-md-1")
            label(for="Quantity")
            | Quantity
          div(class="col-md-1")
            input(type="number", name="quantity" + i, class="form-control", placeholder="0", required)
          div(class="col-md-1")
            label(for="Measure")
            | Measure
          div(class="col-md-2")
            input(type="text", name="measure" + i, class="form-control", required)
          div(class="col-md-2")
            label(for="Ingredient")
            | Ingredient
          div(class="col-md-5")
            input(type="text", name="ingredient" + i, class="form-control", required)

      div(class="row")
        label(for="RecipeSteps")
        strong(style="font-size: 20px;")
        = "Recipe steps:"

      ul
      each i in step_number
        li
        div(class="form-group")
          div(class="row")
            div(class="col-md-2")
              = i+1
            div(class="col-md-6")
              input(type="text", name="short" + i, class="form-control", placeholder="Short description", required)
          div(class="row")
            div(class="col-md-2")
              label(for="Description")
              | Description
            div(class="col-md-10")
              input(type="text", name="description" + i, class="form-control", required)
          div(class="row")
            div(class="col-md-2")
              label(for="VideoUrl")
              | Video URL
            div(class="col-md-10")
              input(type="url", name="videoUrl" + i, class="form-control")
          div(class="row")
            div(class="col-md-2")
              label(for="ThumbnailUrl")
              | Thumbnail URL
            div(class="col-md-10")
              input(type="url", name="thumbUrl" + i, class="form-control")
      
    div
      input(type="submit" class="btn btn-primary", Value="Submit details")

  a(href="/", class="btn btn-xl btn-warning") Cancel
        